

@{
    ViewBag.Title = "Объявление";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WeBudget.Models.Notice

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Объявление</title>
    <link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <title>Выравнивание фотографии по центру</title>
</head>


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<style>
    .fig {
        text-align: center;
    }


    .center {
        width: 700px;
        padding: 10px 250px;
        margin: 0;
        font-size: 14px !important;
    }
</style>




<div class="container">
    <h2> @Model.name</h2>
    <img src="~/@Model.picFileName" align=right width="400" height="400">
    <p>@Model.text</p>
    <br><br><br>
    <h1 align=left>Цена: @Model.price руб.</h1>
</div>
