
@{
    ViewBag.Title = "CreateDohod";
}


@model WeBudget.Models.Dohod

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .fig {
        text-align: center; /* Выравнивание по центру */
    }


    .center {
        width: 700px; /* Ширина элемента в пикселах */
        padding: 10px 250px;
        /* Поля вокруг текста */
        margin: 0; /* Выравниваем по центру */
        font-size: 14px !important;
    }
</style>

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title>MуBudget</title>
	<link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css" />
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	<title>Выравнивание фотографии по центру</title>
</head>


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


<body>
   


    <div class="container">
        <h2>Добавить доход</h2>

        @using (Html.BeginForm())
        {


            <p>
                @Html.LabelFor(model => model.Day, "День")
            </p>
            <p>
                @Html.EditorFor(model => model.Day)
                @Html.ValidationMessageFor(model => model.Day)
            </p>
            <p>
                @Html.LabelFor(model => model.Month, "Месяц")
            </p>
            <p>
                @Html.EditorFor(model => model.Month)
                @Html.ValidationMessageFor(model => model.Month)
            </p>
            <p>
                @Html.LabelFor(model => model.Sum, "Сумма")
            </p>
            <p>
                @Html.EditorFor(model => model.Sum)
                @Html.ValidationMessageFor(model => model.Sum)

            </p>

            <p>
                @Html.LabelFor(model => model.Comment, "Комментарий")
            </p>

            <p>
                @Html.EditorFor(model => model.Comment)
                @Html.ValidationMessageFor(model => model.Comment)
            </p>

            <p>
                <input type="submit" value="Добавить" />

            </p>
        }
    </div>
</body>
